albany/src/main/resources/us/albany/cubism/Data/2014evaluation/LDC2016E28_DEFT_Chinese_Belief_and_Sentiment_Annotation/docs/belief_sentiment.1.1.0.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:element name="committed_belief_doc" xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <rng:attribute name="id">
    <rng:data type="ID"/>
  </rng:attribute>
  <rng:element name="belief_annotations">
    <rng:element name="relations">
      <rng:zeroOrMore>
	<rng:element name="relation">
	  <rng:attribute name="ere_id">
	    <rng:data type="Name"/>
	  </rng:attribute>
	  <rng:optional>
	    <rng:element name="trigger">
	      <rng:attribute name="offset">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:attribute name="length">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:text/>
	    </rng:element>
	  </rng:optional>
	  <rng:element name="beliefs">
	    <rng:zeroOrMore>
	      <rng:choice>
		<rng:element name="belief">
		  <rng:attribute name="type">
		    <rng:choice>
		      <rng:value>cb</rng:value>
		      <rng:value>ncb</rng:value>
		      <rng:value>rob</rng:value>
		    </rng:choice>
		  </rng:attribute>
		  <rng:attribute name="polarity">
		    <rng:choice>
		      <rng:value>pos</rng:value>
		      <rng:value>neg</rng:value>
		    </rng:choice>
		  </rng:attribute>
		  <rng:attribute name="sarcasm">
		    <rng:choice>
		      <rng:value>yes</rng:value>
		      <rng:value>no</rng:value>
		    </rng:choice>
		  </rng:attribute>
		  <rng:optional>
		    <rng:element name="source">
		      <rng:attribute name="ere_id">
			<rng:data type="Name"/>
		      </rng:attribute>
		      <rng:attribute name="offset">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:attribute name="length">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:text/>
		    </rng:element>
		  </rng:optional>
		</rng:element>
		<rng:element name="belief">
		  <rng:attribute name="type">
		    <rng:value>na</rng:value>
		  </rng:attribute>
		  <rng:optional>
		    <rng:element name="source">
		      <rng:attribute name="ere_id">
			<rng:data type="Name"/>
		      </rng:attribute>
		      <rng:attribute name="offset">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:attribute name="length">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:text/>
		    </rng:element>
		  </rng:optional>
		</rng:element>
	      </rng:choice>
	    </rng:zeroOrMore>
	  </rng:element>
	</rng:element>
      </rng:zeroOrMore>
    </rng:element>
    <rng:element name="events">
      <rng:zeroOrMore>
	<rng:element name="event">
	  <rng:attribute name="ere_id">
	    <rng:data type="Name"/>
	  </rng:attribute>
	  <rng:optional>
	    <rng:element name="trigger">
	      <rng:attribute name="offset">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:attribute name="length">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:text/>
	    </rng:element>
	  </rng:optional>
	  <rng:element name="beliefs">
	    <rng:zeroOrMore>
	      <rng:choice>
		<rng:element name="belief">
		  <rng:attribute name="type">
		    <rng:choice>
		      <rng:value>cb</rng:value>
		      <rng:value>ncb</rng:value>
		      <rng:value>rob</rng:value>
		    </rng:choice>
		  </rng:attribute>
		  <rng:attribute name="polarity">
		    <rng:choice>
		      <rng:value>pos</rng:value>
		      <rng:value>neg</rng:value>
		    </rng:choice>
		  </rng:attribute>
		  <rng:attribute name="sarcasm">
		    <rng:choice>
		      <rng:value>yes</rng:value>
		      <rng:value>no</rng:value>
		    </rng:choice>
		  </rng:attribute>
		  <rng:optional>
		    <rng:element name="source">
		      <rng:attribute name="ere_id">
			<rng:data type="Name"/>
		      </rng:attribute>
		      <rng:attribute name="offset">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:attribute name="length">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:text/>
		    </rng:element>
		  </rng:optional>
		</rng:element>
		<rng:element name="belief">
		  <rng:attribute name="type">
		    <rng:value>na</rng:value>
		  </rng:attribute>
		  <rng:optional>
		    <rng:element name="source">
		      <rng:attribute name="ere_id">
			<rng:data type="Name"/>
		      </rng:attribute>
		      <rng:attribute name="offset">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:attribute name="length">
			<rng:data type="positiveInteger"/>
		      </rng:attribute>
		      <rng:text/>
		    </rng:element>
		  </rng:optional>
		</rng:element>
	      </rng:choice>
	    </rng:zeroOrMore>
	  </rng:element>
	  <rng:optional>
	    <rng:element name="arguments">
	      <rng:zeroOrMore>
		<rng:element name="arg">
		  <rng:attribute name="ere_id">
		    <rng:data type="Name"/>
		  </rng:attribute>
		  <rng:attribute name="offset">
		    <rng:data type="positiveInteger"/>
		  </rng:attribute>
		  <rng:attribute name="length">
		    <rng:data type="positiveInteger"/>
		  </rng:attribute>
		  <rng:element name="text">
		    <rng:text/>
		  </rng:element>
		  <rng:element name="beliefs">
		    <rng:zeroOrMore>
		      <rng:choice>
			<rng:element name="belief">
			  <rng:attribute name="type">
			    <rng:choice>
			      <rng:value>cb</rng:value>
			      <rng:value>ncb</rng:value>
			      <rng:value>rob</rng:value>
			    </rng:choice>
			  </rng:attribute>
			  <rng:attribute name="polarity">
			    <rng:choice>
			      <rng:value>pos</rng:value>
			      <rng:value>neg</rng:value>
			    </rng:choice>
			  </rng:attribute>
			  <rng:attribute name="sarcasm">
			    <rng:choice>
			      <rng:value>yes</rng:value>
			      <rng:value>no</rng:value>
			    </rng:choice>
			  </rng:attribute>
			  <rng:optional>
			    <rng:element name="source">
			      <rng:attribute name="ere_id">
				<rng:data type="Name"/>
			      </rng:attribute>
			      <rng:attribute name="offset">
				<rng:data type="positiveInteger"/>
			      </rng:attribute>
			      <rng:attribute name="length">
				<rng:data type="positiveInteger"/>
			      </rng:attribute>
			      <rng:text/>
			    </rng:element>
			  </rng:optional>
			</rng:element>
			<rng:element name="belief">
			  <rng:attribute name="type">
			    <rng:value>na</rng:value>
			  </rng:attribute>
			  <rng:optional>
			    <rng:element name="source">
			      <rng:attribute name="ere_id">
				<rng:data type="Name"/>
			      </rng:attribute>
			      <rng:attribute name="offset">
				<rng:data type="positiveInteger"/>
			      </rng:attribute>
			      <rng:attribute name="length">
				<rng:data type="positiveInteger"/>
			      </rng:attribute>
			      <rng:text/>
			    </rng:element>
			  </rng:optional>
			</rng:element>
		      </rng:choice>
		    </rng:zeroOrMore>
		  </rng:element>
		</rng:element>
	      </rng:zeroOrMore>
	    </rng:element>
	  </rng:optional>
	</rng:element>
      </rng:zeroOrMore>
    </rng:element>
  </rng:element>
  <rng:element name="sentiment_annotations">
    <rng:element name="entities">
      <rng:zeroOrMore>
	<rng:element name="entity">
	  <rng:attribute name="ere_id">
	    <rng:data type="Name"/>
	  </rng:attribute>
	  <rng:attribute name="offset">
	    <rng:data type="positiveInteger"/>
	  </rng:attribute>
	  <rng:attribute name="length">
	    <rng:data type="positiveInteger"/>
	  </rng:attribute>
	  <rng:element name="text">
	    <rng:text/>
	  </rng:element>
	  <rng:element name="sentiment">
	    <rng:attribute name="polarity">
	      <rng:choice>
		<rng:value>pos</rng:value>
		<rng:value>neg</rng:value>
	      </rng:choice>
	    </rng:attribute>
	    <rng:attribute name="sarcasm">
	      <rng:choice>
		<rng:value>yes</rng:value>
		<rng:value>no</rng:value>
	      </rng:choice>
	    </rng:attribute>
	    <rng:optional>
	      <rng:element name="source">
		<rng:attribute name="ere_id">
		  <rng:data type="Name"/>
		</rng:attribute>
		<rng:attribute name="offset">
		  <rng:data type="positiveInteger"/>
		</rng:attribute>
		<rng:attribute name="length">
		  <rng:data type="positiveInteger"/>
		</rng:attribute>
		<rng:text/>
	      </rng:element>
	    </rng:optional>
	  </rng:element>
	</rng:element>
      </rng:zeroOrMore>
    </rng:element>
    <rng:element name="relations">
      <rng:zeroOrMore>
	<rng:element name="relation">
	  <rng:attribute name="ere_id">
	    <rng:data type="Name"/>
	  </rng:attribute>
	  <rng:optional>
	    <rng:element name="trigger">
	      <rng:attribute name="offset">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:attribute name="length">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:text/>
	    </rng:element>
	  </rng:optional>
	  <rng:element name="sentiment">
	    <rng:attribute name="polarity">
	      <rng:choice>
		<rng:value>pos</rng:value>
		<rng:value>neg</rng:value>
	      </rng:choice>
	    </rng:attribute>
	    <rng:attribute name="sarcasm">
	      <rng:choice>
		<rng:value>yes</rng:value>
		<rng:value>no</rng:value>
	      </rng:choice>
	    </rng:attribute>
	    <rng:optional>
	      <rng:element name="source">
		<rng:attribute name="ere_id">
		  <rng:data type="Name"/>
		</rng:attribute>
		<rng:attribute name="offset">
		  <rng:data type="positiveInteger"/>
		</rng:attribute>
		<rng:attribute name="length">
		  <rng:data type="positiveInteger"/>
		</rng:attribute>
		<rng:text/>
	      </rng:element>
	    </rng:optional>
	  </rng:element>
	</rng:element>
      </rng:zeroOrMore>
    </rng:element>
    <rng:element name="events">
      <rng:zeroOrMore>
	<rng:element name="event">
	  <rng:attribute name="ere_id">
	    <rng:data type="Name"/>
	  </rng:attribute>
	  <rng:optional>
	    <rng:element name="trigger">
	      <rng:attribute name="offset">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:attribute name="length">
		<rng:data type="positiveInteger"/>
	      </rng:attribute>
	      <rng:text/>
	    </rng:element>
	  </rng:optional>
	  <rng:element name="sentiment">
	    <rng:attribute name="polarity">
	      <rng:choice>
		<rng:value>pos</rng:value>
		<rng:value>neg</rng:value>
	      </rng:choice>
	    </rng:attribute>
	    <rng:attribute name="sarcasm">
	      <rng:choice>
		<rng:value>yes</rng:value>
		<rng:value>no</rng:value>
	      </rng:choice>
	    </rng:attribute>
	    <rng:optional>
	      <rng:element name="source">
		<rng:attribute name="ere_id">
		  <rng:data type="Name"/>
		</rng:attribute>
		<rng:attribute name="offset">
		  <rng:data type="positiveInteger"/>
		</rng:attribute>
		<rng:attribute name="length">
		  <rng:data type="positiveInteger"/>
		</rng:attribute>
		<rng:text/>
	      </rng:element>
	    </rng:optional>
	  </rng:element>
	</rng:element>
      </rng:zeroOrMore>
    </rng:element>
  </rng:element>
</rng:element>
